body{
    margin: 0;
}

nav{
    border-top: 5px solid #f4f3f5;
    border-left: 5px solid #f4f3f5;
    border-bottom: 5px solid #535351;
    border-right: 5px solid #535351;
    background-color: #c6c6c6;
    display: flex;


    .left-nav{
        display: flex;
        margin-left: 20px;
        gap: 30px;

        .navLink{
        text-decoration: none;
        color: black;
    }

    }

    
    }
